@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to top, #ffa500, #ffd700);
}

.gradation-button {
  background: linear-gradient(to bottom left, #957dad, #4389a2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
